In [27]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [28]:
df = pd.read_csv('globalTemperature.csv')
df.head(5)

,Year,Month,Monthly Anomaly,Monthly Unc.,Annual Anomaly,Annual Unc,Five-Year Anomaly,Five-Year Unc.,Ten-Year Anomaly,Ten-Year Unc.,Twenty-Year Anomaly,Twenty-year Unc.
0,1850,1,-0.801,0.482,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1850,2,-0.102,0.592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1850,3,-0.119,0.819,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1850,4,-0.485,0.575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1850,5,-0.351,0.549,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
# Dimensão das colunas
df.shape

(2077, 12)

In [30]:
# Mostrar os nomes das colunas
for col in df.columns:
    print(col)

Year
 Month
Monthly Anomaly
 Monthly Unc.
  Annual Anomaly
 Annual Unc
Five-Year Anomaly
 Five-Year Unc.
 Ten-Year Anomaly
 Ten-Year Unc.
  Twenty-Year Anomaly
 Twenty-year Unc.

In [32]:
# Remover colunas com drop
df.drop(['Five-Year Anomaly',' Five-Year Unc.',' Ten-Year Anomaly',' Ten-Year Unc.','  Twenty-Year Anomaly',' Twenty-year Unc.'],axis = 1)

      Year   Month  Monthly Anomaly  Monthly Unc.   Annual Anomaly  Annual Unc
0     1850       1           -0.801         0.482              NaN         NaN
1     1850       2           -0.102         0.592              NaN         NaN
2     1850       3           -0.119         0.819              NaN         NaN
3     1850       4           -0.485         0.575              NaN         NaN
4     1850       5           -0.351         0.549              NaN         NaN
...    ...     ...              ...           ...              ...         ...
2072  2022       9            0.971           NaN              NaN         NaN
2073  2022      10            1.126           NaN              NaN         NaN
2074  2022      11            0.626           NaN              NaN         NaN
2075  2022      12            0.923           NaN              NaN         NaN
2076  2023       1            0.963           NaN              NaN         NaN

[2077 rows x 6 columns]